@import '../foundation/all';

.dsc-sidebar {
  display: flex; /* Flexbox container */
  height: calc(100vh - 25vh); /* Dynamic height calculation */
  width: 280px; /* Fixed width */
  flex-direction: column; /* Arrange items vertically */
  justify-content: space-between; /* Space between items */
  border-radius: 0.75rem; /* Equivalent to Tailwind's rounded-xl */
  border: 1px solid $semantic-neutral-100; /* Light border color for "border-metal-100" */
  background-color: $background-base-white; /* White background for "bg-white" */
  padding: 1.25rem; /* Padding of 20px for "p-5" */
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05); /* Shadow equivalent to "shadow-xl" */
}

@include dark-mode {
  .dsc-sidebar {
    border-color: $dark-semantic-neutral-100; /* Dark border color for "dark:border-metal-900" */
    background-color: $dark-background-base-white; /* Dark background color for "dark:bg-metal-900" */
  }
}

.dsc-sidebar-body {
  display: flex; /* Ensures spacing applies in a flex layout */
  flex-direction: column; /* Arranges children vertically */
  gap: 1rem; /* Adds a vertical gap of 16px between children */
}

.dsc-sidebar-collapse {
  display: flex; /* Sets the layout to flexbox */
  align-items: center; /* Aligns items vertically in the center */
  justify-content: space-between; /* Distributes space between items */
  cursor: pointer; /* Changes the cursor to pointer for interaction */
  padding: 0.625rem; /* Equivalent to p-2.5 (10px) */
  border-radius: 0.375rem; /* Equivalent to rounded-md (6px) */
  font-size: 1rem; /* Matches text-body-4 */
  font-weight: 400; /* Matches font-normal */
  color: $semantic-neutral-400; /* Equivalent to text-metal-400 */
  transition: all 0.2s ease-in-out; /* Matches transition-all duration-200 */
  
  &:hover {
    background-color: $semantic-neutral-50; /* Equivalent to hover:bg-metal-50 */
    color: $semantic-neutral-900; /* Equivalent to hover:text-metal-900 */
  }
}


@include dark-mode {
  .dsc-sidebar-collapse:hover {
    background-color: $dark-semantic-neutral-800; /* Equivalent to dark:hover:bg-metal-800 */
    color: $background-base-white; /* Equivalent to dark:hover:text-white */
  }
}

.dsc-sidebar-dropdown-list {
  padding-left: 1.5rem; /* 24px */
}

.dsc-sidebar-footer {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* 8px */
  border-top: 1px solid $semantic-neutral-100; /* Light theme border color */
  padding-top: 1rem; /* 16px */
}

@include dark-mode {
  .dsc-sidebar-footer {
    border-top-color: $dark-semantic-neutral-100; /* Dark theme border color */
  }
}

.dsc-sidebar-item {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 0.75rem; /* 12px */
  border-radius: 0.375rem; /* 6px */
  padding: 0.625rem; /* 10px */
  font-size: 0.875rem; /* Match text-body-4 */
  font-weight: 400; /* Normal font weight */
  color: $semantic-neutral-400; /* text-metal-400 */
  transition: all 200ms ease-in-out;
  list-style: none;
  
  &:hover {
    background-color: $semantic-neutral-50; /* hover:bg-metal-50 */
    color: $semantic-neutral-900; /* hover:text-metal-900 */
  }
}


@include dark-mode {
  .dsc-sidebar-item:hover {
    background-color: $dark-semantic-neutral-50; /* dark:hover:bg-metal-800 */
    color: $dark-semantic-neutral-900; /* dark:hover:text-white */
  }
}

.dsc-sidebar-item-morethan-two {
  justify-content: center;
  list-style: none;
}

.dsc-sidebar-list {
  display: flex;
  flex-direction: column; /* Ensures items are stacked vertically */
  gap: 0.25rem; /* 4px vertical spacing between items */
}
