@import '../foundation/all';

$checkbox-colors: (
  primary: (
    border-color: $action-border-brand-normal,
    color: $action-background-brand-normal,
    disabled-border-color: $action-border-brand-disabled,
    disabled-color: $action-background-brand-disabled,
  ),
  secondary: (
    border-color: $action-border-neutral-normal,
    color: $action-background-neutral-normal,
    disabled-border-color: $action-border-neutral-disabled,
    disabled-color: $action-background-neutral-disabled,
  ),
  success: (
    border-color: $action-border-success-normal,
    color: $action-background-success-normal,
    disabled-border-color: $action-border-success-disabled,
    disabled-color: $action-background-success-disabled,
  ),
  warning: (
    border-color: $action-border-warning-normal,
    color: $action-background-warning-normal,
    disabled-border-color: $action-border-warning-disabled,
    disabled-color: $action-background-warning-disabled,
  ),
  error: (
    border-color: $action-border-error-normal,
    color: $action-background-error-normal,
    disabled-border-color: $action-border-error-disabled,
    disabled-color: $action-background-error-disabled,
  ),
);

$dark-checkbox-colors: (
  primary: (
    border-color: $dark-action-border-brand-normal,
    color: $dark-action-background-brand-normal,
    disabled-border-color: $dark-action-border-brand-disabled,
    disabled-color: $dark-action-background-brand-disabled,
  ),
  secondary: (
    border-color: $dark-action-border-neutral-normal,
    color: $dark-action-background-neutral-normal,
    disabled-border-color: $dark-action-border-neutral-disabled,
    disabled-color: $dark-action-background-neutral-disabled,
  ),
  success: (
    border-color: $dark-action-border-success-normal,
    color: $dark-action-background-success-normal,
    disabled-border-color: $dark-action-border-success-disabled,
    disabled-color: $dark-action-background-success-disabled,
  ),
  warning: (
    border-color: $dark-action-border-warning-normal,
    color: $dark-action-background-warning-normal,
    disabled-border-color: $dark-action-border-warning-disabled,
    disabled-color: $dark-action-background-warning-disabled,
  ),
  error: (
    border-color: $dark-action-border-error-normal,
    color: $dark-action-background-error-normal,
    disabled-border-color: $dark-action-border-error-disabled,
    disabled-color: $dark-action-background-error-disabled,
  ),
);

$checkbox-variants: (
  default: (
    border-radius: $radius-xsm,
  ),
  square: (
    border-radius: $radius-xsm,
  ),
  circle: (
    border-radius: $radius-full-round,
  ),
);

$checkbox-sizes: (
  small: (
    container-width: 16px,
    container-height: 16px,
    icon-width: 12px,
    icon-height: 12px,
  ),
  medium: (
    container-width: 20px,
    container-height: 20px,
    icon-width: 16px,
    icon-height: 16px,
  ),
  large: (
    container-width: 24px,
    container-height: 24px,
    icon-width: 18px,
    icon-height: 18px,
  ),
);

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid $action-border-brand-normal;
  box-sizing: border-box;
}

@each $size, $styles in $checkbox-sizes {
  .checkbox-container-#{$size} {
    width: map-get($styles, container-width);
    height: map-get($styles, container-height);
  }

  .checkbox-container-#{$size} .checkbox-icon {
    width: map-get($styles, icon-width);
    height: map-get($styles, icon-height);
  }
}

@each $variant, $styles in $checkbox-variants {
  .checkbox-container-#{$variant} {
    @each $style, $value in $styles {
      #{$style}: $value;
    }
  }
}

@each $color, $colorList in $checkbox-colors {
  @each $variant, $variantList in $checkbox-variants { 
    .checkbox-container-#{$color}.checkbox-container-#{$variant} {
      border: 1px solid map-get($colorList, border-color);
      background-color: $action-background-base-white;
      color: if($variant == default,  $action-background-base-white, map-get($colorList, color));
    }
    .checkbox-container-#{$color}.checkbox-container-#{$variant}.checkbox-container-disabled {
      border: 1px solid map-get($colorList, disabled-border-color);
      background-color: $action-background-base-white;
      color: if($variant == default,  $action-background-base-white, map-get($colorList, disabled-color));
    }
  }
  .checkbox-container-#{$color}.checkbox-container-default:has(.checkbox-input:checked) {
    background-color: map-get($colorList, color);
    color: $action-background-base-white;
  }
  .checkbox-container-#{$color}.checkbox-container-default.checkbox-container-disabled:has(.checkbox-input:checked) {
    background-color: map-get($colorList, disabled-color);
    color: $action-background-base-white;
  }
}

@each $dark-color, $dark-colorList in $dark-checkbox-colors {
  @each $variant, $variantList in $checkbox-variants {
    @include dark-mode {
      .checkbox-container-#{$dark-color}.checkbox-container-#{$variant} {
        border: 1px solid map-get($dark-colorList, border-color);
        background-color: $dark-action-background-base-white;
        color: if($variant == default,  $dark-action-background-base-white, map-get($dark-colorList, color));
      }

      .checkbox-container-#{$dark-color}.checkbox-container-#{$variant}.checkbox-container-disabled {
        border: 1px solid map-get($dark-colorList, disabled-border-color);
        background-color: $dark-action-background-base-white;
        color: if($variant == default,  $dark-action-background-base-white, map-get($dark-colorList, disabled-color));
      }
    }
  }
  
  @include dark-mode {
    .checkbox-container-#{$dark-color}.checkbox-container-default:has(.checkbox-input:checked) {
      background-color: map-get($dark-colorList, color);
      color: $dark-action-background-base-white;
    }

    .checkbox-container-#{$dark-color}.checkbox-container-default.checkbox-container-disabled:has(.checkbox-input:checked) {
      background-color: map-get($dark-colorList, disabled-color);
      color: $dark-action-background-base-white;
    }
  }
}

.checkbox-input {
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}
